{% extends "master.html" %}
{% block title %}About{% endblock %}
{% block meta %}{% endblock %}
{% block css %}{% endblock %}
{% block headerimage %}

     <div class="banner banner-template"><div class="container"><div class="title-header"><h1>About Us</h1><h6 class="header-sub-title">Why Choose Digitech Partner ?</h6></div></div><div class="scroll-to mouse"><span></span></div><div class="clip"><div class="bg bg-bg" style="background-image:url(img/custom-bg-8.jpg)"></div></div><div class="overlay"></div></div>

{% endblock %}
{% block content %}
<main class="main-shotcodes start-block">

            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="tab-wrapper clearfix tab-style-3">
                                <div class="nav-tab clearfix">
                                    <div class="nav-tab-item active">Who we are ?</div>
                                    <div class="nav-tab-item">How we work ?  </div>
                                    <div class="nav-tab-item">Technologies</div>
                                </div>
                                <div class="tabs-content">
                                    <div class="tab-info active">
                                        <h3>we are make creative things</h3>
                                        Omnis iste natus doxes sit voluptatem accusantium doloremque la dantiume aque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta unt explicabo. Nemo enim ipsam voluptatemquia voluptas sit aspernatur aut odit aut fugit, sed quia consequunturmagni dolores eos qui ratione voluptatem.</div>
                                    <div class="tab-info">
                                        <h3>we are make creative things</h3>
                                        Omnis iste natus doxes sit voluptatem accusantium doloremque la dantiume aque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta unt explicabo. Nemo enim ipsam voluptatemquia voluptas sit aspernatur aut odit aut fugit, sed quia consequunturmagni dolores eos qui ratione voluptatem.</div>
                                    <div class="tab-info">
                                        <h3>we are make creative things</h3>
                                        Omnis iste natus doxes sit voluptatem accusantium doloremque la dantiume aque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta unt explicabo. Nemo enim ipsam voluptatemquia voluptas sit aspernatur aut odit aut fugit, sed quia consequunturmagni dolores eos qui ratione voluptatem.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2" style="border:1px solid gray;">
                            Ad Space
                            </div>

                    </div>
                </div>
            </section>
        </main>

{% endblock %}
{% block js %}{% endblock %}