{% extends "master.html" %}
{% block title %}About Us{% endblock %}
{% block meta %}
    <meta name="description" content="Digitech Partner is emerging company in IT sector. Established in 2015 with extremely qualified and well experienced professionals who let your IT related queries solve with their intellectual, out of the box and mind blowing ideas.We ensures that the functioning of your systems is optimized with end user support and data center management. Our services includes cutting edge solutions to install and integrate hardware and software to manage complex IT implementation projects successfully." />

<meta name="keywords" content="Open Source web development,Open Source,Professional,Professional Development,Web Design Gurgaon,Web Application,Dynamic Website,Static Website,Responsive Design,Responsive Website,Website,Website Development,Designing,Web Designing,Website Designing,Domain,Photography,Retouching,Domain Registration,CMS,ERP,Content,Content Writing,E Commerce,Print,Media,Print Media,Development,Digitech,Partner,Digitech Partner,Software,Software Development,Search,Search Engine,Search Engine Optimization,Social Marketing,Social,Social Media,SEO,SMO,Web,Support,Maintanance,Programming,Coding,Hosting,Outsourcing,Google Adsence,Gurgaon,Delhi,Company,Payment,Payment Gateway,Payment Gateway Integration,E-Commerce Website,E-commerce,E Commerce Solutions,solutions,Online Payment Integration,Shopping Cart,Gateway Integration" />
{% endblock %}
{% block css %}{% endblock %}
{% block headerimage %}

     <div class="banner banner-template"><div class="container"><div class="title-header"><h1>About Us</h1>
         <h6 class="header-sub-title">Why Choose Digitech Partner ?</h6></div></div><div class="scroll-to mouse"><span></span></div>
         <div class="clip"><div class="bg bg-bg" style="background-image:url(/static/img/custom-bg-10.jpg)"></div></div><div class="overlay"></div></div>

{% endblock %}
{% block content %}
<main class="main-shotcodes start-block">

            <section class="section section-border">
                <div class="container">
                    <div class="row">

                        <div class="title-block col-sm-12 ">
                            <h2 class="h1">Welcome to Digitech Partner</h2>
                            <div class="sub-title-type-2">
                                <blockquote class="blockquote blockquote-type-1">Digitech Partner is emerging company in IT sector. Established in 2015 with extremely qualified and well experienced professionals who let your IT related queries solve with their intellectual, out of the box and mind blowing ideas.
                        We ensures that the functioning of your systems is optimized with end user support and data center management. Our services includes cutting edge solutions to install and integrate hardware and software to manage complex IT implementation projects successfully.

                                </blockquote>
                            </div>
                        </div>

                             </div>
                    <div class='row'>
                        <div class="accordion-container">

                            <div class="title-block col-sm-9 ">
                            <h4 class="h4">Why Us ?</h4>
                            <div class="sub-title-type-2">
                                <div class="accordion-item accordion-style-2">
                                    <div class="accordion-title">
                                        perspiciatis unde omnis iste natus
                                    </div>
                                    <div class="accordion-content">
                                        Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiume aque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta unt explicabo. Nemo enim ipsam voluptatem.
                                        quia voluptas sit aspernatur aut odit.
                                    </div>
                                </div>
                                <div class="accordion-item accordion-style-2">
                                    <div class="accordion-title">
                                        ptatem accusantium doloremque
                                    </div>
                                    <div class="accordion-content">
                                        Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiume aque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta unt explicabo. Nemo enim ipsam voluptatem.
                                        quia voluptas sit aspernatur aut odit.
                                    </div>
                                </div>
                                <div class="accordion-item accordion-style-2">
                                    <div class="accordion-title">
                                        totam rem aperiam, eaque ipsa
                                    </div>
                                    <div class="accordion-content">
                                        Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiume aque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta unt explicabo. Nemo enim ipsam voluptatem.
                                        quia voluptas sit aspernatur aut odit.
                                    </div>
                                </div>
                                <div class="accordion-item accordion-style-2">
                                    <div class="accordion-title">
                                        quasi architecto beatae vitae dicta
                                    </div>
                                    <div class="accordion-content">
                                        Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiume aque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta unt explicabo. Nemo enim ipsam voluptatem.
                                        quia voluptas sit aspernatur aut odit.
                                    </div>
                                </div>
                            </div>
                                </div>


                                <div class="title-block col-sm-3 ">
                            <h4 class="h4">What We Do ?</h4>
                            <div class="sub-title-type-2">
                                <ul class="list list-type-4">

                                <li><i class="fa fa-map-signs"></i><a style='color:#dc3c4b;' href="/web-designing/">Web Designing</a></li>
                                 <li><i class="fa fa-map-signs"></i><a style='color:#dc3c4b;' href="/web-development/">Web Development</a></li>
                                 <li><i class="fa fa-map-signs"></i><a style='color:#dc3c4b;' href="/e-commerce/">E Commerce</a></li>
                                 <li><i class="fa fa-map-signs"></i><a style='color:#dc3c4b;' href="/software-development/">Software Development</a></li> <li>
                                <i class="fa fa-map-signs"></i><a style='color:#dc3c4b;' href="/seo-services/">SEO Services</a></li>
                                 <li><i class="fa fa-map-signs"></i><a style='color:#dc3c4b;' href="/support-and-maintanence/">Support &amp; Maintanance</a></li>
<li><i class="fa fa-map-signs"></i><a style='color:#dc3c4b;' href="/print-media/">Print Media</a></li>
                            </ul></div>
                        </div>


                            </div>


                        </div>
                    </div>
                    </div>


            </section>
<div class="section section-border section-gray">
                <div class="container">
                    <div class="swiper-container testi-slider xs-padd" data-autoplay="0" data-loop="0" data-speed="500" data-center="0" data-slides-per-view="1">
                        <div class="swiper-wrapper ">
                            <div class="swiper-slide text-center">
                                <img class="author-ava" src="/static/img/ava.png" alt="">
                                <blockquote class="testimonials ">
                                    Digitech Partner is an software development company strategically founded to be versatile, dynamic and responsive to the today's challenging needs of our clients. We have always operated on the premise that all future sales are linked directly to how you treat your existing customers.
                                    With that said, we are very proud of our software and support team.
                                </blockquote>
                                <cite class="author">Ashish.  Company director</cite>
                            </div>
                            <div class="swiper-slide text-center">
                                <img class="author-ava" src="/static/img/ava.png" alt="">
                                <blockquote class="testimonials ">
                                    We gladly offer all prospective customer a list of names and phone numbers of existing customers in their area who have agreed to
                                    provide you unbiased information concerning our past performance.
                                    We are proud of what we do, and we strive to meet or exceed the customers' expectations.
                                </blockquote>
                                <cite class="author">Bharat Kotwani.  Company director</cite>
                            </div>
                            <div class="swiper-slide text-center">
                                <img class="author-ava" src="/static/img/ava.png" alt="">
                                <blockquote class="testimonials ">
                                    We would like to thank our clients and business partners for rewarding us with continued trust and confidence.
                                </blockquote>
                                <cite class="author">Aditya Kumar.  Company director</cite>
                            </div>
                        </div>
                        <div class="pagination"></div>
                    </div>
                </div>
            </div>
<section class="section section-border">
                <div class="container">
                    <div class="title-block">
                        <h2 class="title">our clients</h2>

                    </div>
                    <div class="swiper-container client-slider swiper-swiper-unique-id-0 initialized" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="2" data-sm-slides="3" data-md-slides="4" data-lg-slides="5" data-add-slides="6" id="swiper-unique-id-0">

                        <div class="swiper-wrapper " style="width: 3876px; transform: translate3d(-1140px, 0px, 0px); transition-duration: 0s; height: 103px;"><div class="swiper-slide swiper-slide-duplicate" style="width: 228px; height: 103px;">
                                <a href="#"><img src="/static/img/client-3.png" alt=""></a>
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate" style="width: 228px; height: 103px;">
                                <a href="#"><img src="/static/img/client-4.png" alt=""></a>
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate" style="width: 228px; height: 103px;">
                                <a href="#"><img src="/static/img/client-5.png" alt=""></a>
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate" style="width: 228px; height: 103px;">
                                <a href="#"><img src="/static/img/client-6.png" alt=""></a>
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate" style="width: 228px; height: 103px;">
                                <a href="#"><img src="/static/img/client-1.png" alt=""></a>
                            </div>

                            </div>
                        <div class="pagination pagination-hide pagination-swiper-unique-id-2 pagination-swiper-unique-id-0"><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: none;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: none;"></span><span class="swiper-pagination-switch" style="display: none;"></span><span class="swiper-pagination-switch" style="display: none;"></span></div>
                    </div>
                </div>
            </section>
        </main>

{% endblock %}
{% block js %}{% endblock %}