{% extends "master.html" %}
{% block title %}About Us{% endblock %}
{% block meta %}
    <meta name="description" content="Digitech Partner is emerging company in IT sector. Established in 2015 with extremely qualified and well experienced professionals who let your IT related queries solve with their intellectual, out of the box and mind blowing ideas.We ensures that the functioning of your systems is optimized with end user support and data center management. Our services includes cutting edge solutions to install and integrate hardware and software to manage complex IT implementation projects successfully." />

<meta name="keywords" content="Open Source web development,Open Source,Professional,Professional Development,Web Design Gurgaon,Web Application,Dynamic Website,Static Website,Responsive Design,Responsive Website,Website,Website Development,Designing,Web Designing,Website Designing,Domain,Photography,Retouching,Domain Registration,CMS,ERP,Content,Content Writing,E Commerce,Print,Media,Print Media,Development,Digitech,Partner,Digitech Partner,Software,Software Development,Search,Search Engine,Search Engine Optimization,Social Marketing,Social,Social Media,SEO,SMO,Web,Support,Maintanance,Programming,Coding,Hosting,Outsourcing,Google Adsence,Gurgaon,Delhi,Company,Payment,Payment Gateway,Payment Gateway Integration,E-Commerce Website,E-commerce,E Commerce Solutions,solutions,Online Payment Integration,Shopping Cart,Gateway Integration" />
{% endblock %}
{% block css %}{% endblock %}
{% block headerimage %}

     <div class="banner banner-template"><div class="container"><div class="title-header"><h1>About Us</h1><h6 class="header-sub-title">Why Choose Digitech Partner ?</h6></div></div><div class="scroll-to mouse"><span></span></div><div class="clip"><div class="bg bg-bg" style="background-image:url(img/custom-bg-8.jpg)"></div></div><div class="overlay"></div></div>

{% endblock %}
{% block content %}
<main class="main-shotcodes start-block">

            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="tab-wrapper clearfix tab-style-3">
                                <div class="nav-tab clearfix">
                                    <div class="nav-tab-item active">Who we are ?</div>
                                    <div class="nav-tab-item">How we work ?  </div>
                                    <div class="nav-tab-item">Technologies</div>
                                </div>
                                <div class="tabs-content">
                                    <div class="tab-info active">
                                        <h3>we are make creative things</h3>
                                        Omnis iste natus doxes sit voluptatem accusantium doloremque la dantiume aque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta unt explicabo. Nemo enim ipsam voluptatemquia voluptas sit aspernatur aut odit aut fugit, sed quia consequunturmagni dolores eos qui ratione voluptatem.</div>
                                    <div class="tab-info">
                                        <h3>we are make creative things</h3>
                                        Omnis iste natus doxes sit voluptatem accusantium doloremque la dantiume aque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta unt explicabo. Nemo enim ipsam voluptatemquia voluptas sit aspernatur aut odit aut fugit, sed quia consequunturmagni dolores eos qui ratione voluptatem.</div>
                                    <div class="tab-info">
                                        <h3>we are make creative things</h3>
                                        Omnis iste natus doxes sit voluptatem accusantium doloremque la dantiume aque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta unt explicabo. Nemo enim ipsam voluptatemquia voluptas sit aspernatur aut odit aut fugit, sed quia consequunturmagni dolores eos qui ratione voluptatem.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2" style="border:1px solid gray;">
                            Ad Space
                            </div>

                    </div>
                </div>
            </section>
        </main>

{% endblock %}
{% block js %}{% endblock %}