{% extends "master.html" %}
{% block title %}About{% endblock %}
{% block meta %}{% endblock %}
{% block css %}{% endblock %}
{% block headerimage %}

     <div class="banner banner-template"><div class="container"><div class="title-header"><h1>Contact Us </h1><h6 class="header-sub-title">Why Choose Digitech Partner ?</h6></div></div><div class="scroll-to mouse"><span></span></div><div class="clip"><div class="bg bg-bg" style="background-image:url(img/custom-bg-8.jpg)"></div></div><div class="overlay"></div></div>

{% endblock %}
{% block content %}
<main class="main-shotcodes start-block">
   <section class="section">
<div class="container">

               <div class="col-sm-5">
				<form action="" class="page-form clearfix">
                    <input class="p-input" type="text" placeholder="Full  Name">
                    <input class="p-input" required="" type="email" placeholder="Email">
                    <textarea placeholder="Your Message" class="p-textarea"></textarea>
                    <input class="p-submit" type="submit" value="send">
                </form>
               </div>
				<div class="col-sm-4">

                        <h3>Get In Touch</h3>
                        <ul class="ftr-list m">
                            <li><i class="fa fa-map-marker "></i><span>Address: 58911 Lepzig Hore, 85000 Vienna, Austria</span></li>
                            <li><i class="fa fa-phone"></i><span>Telephones:</span> <a href="tel:1777553221"> +1 777 55-32-21</a></li>
                            <li><i class="fa fa-envelope-o"></i><span>E-mail:</span> <a href="mailto:contacts@miracle.com">contacts@miracle.com</a></li>
                            <li><i class="fa fa-skype"></i><span>Skype:</span> <a href="tel:angelotours"> angelotours</a></li>
                        </ul>
                        <div class="ftr-social">
                            <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-vine"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-pinterest-p"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                        </div>

				</div>
				<div class="col-lg-3">
					ADS
				</div>
            </div>

       </section>
        </main>

{% endblock %}
{% block js %}{% endblock %}