{% extends "master.html" %}
{% block title %}Disclaimer{% endblock %}
{% block meta %}{% endblock %}
{% block css %}{% endblock %}
{% block headerimage %}

     <div class="banner banner-template"><div class="container"><div class="title-header"><h1>Disclaimer</h1><h6 class="header-sub-title">Why Choose Digitech Partner ?</h6></div></div><div class="scroll-to mouse"><span></span></div><div class="clip"><div class="bg bg-bg" style="background-image:url(img/custom-bg-8.jpg)"></div></div><div class="overlay"></div></div>

{% endblock %}
{% block content %}
<main class="main-shotcodes start-block">

      <section class="section ">
                <div class="container">

                    <div class="row">
                        <div class="col-sm-12">
                         <div class="blockquote-row padding-bottom-35">
                                               <blockquote class="blockquote blockquote-type-1">Qoluptatem accusantium doloremque laudantium totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur</blockquote>

                    </div>
                            </div>
                        </div>
                    <div class="row">
                    <div class="title-block col-sm-12 ">
                            <h2 class="h1">HEADING 1</h2>
                            <div class="sub-title-type-2">Omnis iste natus doxes sit voluptatem accusantium doloremque la dantiume aque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta unt explicabo. Nemo enim ipsam voluptatemquia voluptas sit aspernatur aut odit aut fugit, sed quia consequunturmagni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi</div>
                        </div>
                        </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="list list-type-4">
                                <li><i class="fa fa-map-signs"></i>Perspiciatis unde omnis istePerspiciatis unde omnis istePerspiciatis unde omnis istePerspiciatis unde omnis istePerspiciatis unde omnis iste</li>
                                <li><i class="fa fa-map-signs"></i>Natus doxes sit voluptatem accu</li>
                                <li><i class="fa fa-map-signs"></i>Santium doloremque la dantiume</li>
                                <li><i class="fa fa-map-signs"></i>Aque ipsa quae ab illo veritatis</li>
                                <li><i class="fa fa-map-signs"></i>Quasi architecto beatae vitae</li>
                            </ul>
                            </div>
                        </div>
          </div>

                </div>
            </section>

        </main>

{% endblock %}
