{% extends "master.html" %}
{% block title %}About{% endblock %}
{% block meta %}{% endblock %}
{% block css %}{% endblock %}
{% block headerimage %}

     <div class="banner banner-template"><div class="container"><div class="title-header"><h1>Enquiry Us </h1><h6 class="header-sub-title">Why Choose Digitech Partner ?</h6></div></div><div class="scroll-to mouse"><span></span></div><div class="clip"><div class="bg bg-bg" style="background-image:url(img/custom-bg-8.jpg)"></div></div><div class="overlay"></div></div>

{% endblock %}
{% block content %}
<main class="main-portfolio start-block">
   <section class="section">
            <div class="container">
				<p>
                                The culmination of all our efforts is in making you convinced of our   abilities as the perfect internet          solutions provider for your business. Get in touch with us to   give action to these words for the start of a successful and long   lasting relationship.<br>

                                Please  fill out this form with as much information as possible, the more information  you can supply the more accurately we can serve you.<br>

                                Let us know what your had in mind for your website, and we will give you  an accurate quote ASAP. We  will try to do everything in order to help your website succeed.<br>
                            </p>

				<div class="col-sm-12" style=" ">
					<div class="col-sm-4">
						<b style="color:red">Your Contact Information</b>
						<input class="p-input" style="width: 100%;" type="text" placeholder="Full  Name"/>
						<input class="p-input"  style="width: 100%; margin-left: 0%;" type="text" placeholder="Company  Name"/>
						<input class="p-input"  style="width: 100%; margin-left: 0%;" type="text" placeholder="Title"/>
						<input class="p-input"  style="width: 100%; margin-left: 0%;" type="email" placeholder="Email Address"/>
						<input class="p-input"  style="width: 100%; margin-left: 0%;" type="email" placeholder="Contact Number"/>

					</div>
					<div class="col-sm-4">
						<b style="color:red">What Services you are interested In ?</b>
						<input type="checkbox" name="CheckBox1"/>
						<label for="CheckBox1">   Software Development</label>
					</div>
					<div class="col-sm-4">
						<b style="color:red"></b>
					</div>
				</div>
				</div>
       </section>
		</main>


{% endblock %}
{% block js %}{% endblock %}