
 {% load staticfiles %}
{% extends "master.html" %}
{% block title %}Home{% endblock %}
{% block meta %}{% endblock %}
{% block css %}{% endblock %}
{% block headerimage %}

    <div class="banner full-height-banner" >
             <div class="swiper-container full-height-slider home-full-height-slider"  data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
                 <div class="swiper-wrapper ">
                     <div class="swiper-slide full-height-slide" style="background-image:url(static/img/custom-bg-12.jpg)">
                         <div class="overlay"></div>
                         <div class="center">
                             <h1 class="slide-title">High quality design inspired <br> by designers every day</h1>
                             <div class="slider-sub-title">We build creative & functional web products</div>
                             <div class="button-row">
                                 <a class="button-type-4" href="#">More about us</a>
                                 <a class="button-type-5" href="#">Our features</a>
                             </div>
                         </div>
                     </div>
                     <div class="swiper-slide full-height-slide" style="background-image: url('static/img/banner-img-1.jpg')">
                         <div class="overlay"></div>
                         <div class="center">
                             <h2 class="slide-title">High quality design inspired <br> by designers every day</h2>
                             <div class="slider-sub-title">We build creative & functional web products</div>
                             <div class="button-row">
                                 <a class="button-type-4" href="#">MOre about us</a>
                                 <a class="button-type-5" href="#">our features</a>
                             </div>
                         </div>
                     </div>
                     <div class="swiper-slide full-height-slide" style="background-image: url('static/img/banner-img-2.jpg')">
                         <div class="overlay"></div>
                         <div class="center">
                             <h2 class="slide-title">High quality design inspired <br> by designers every day</h2>
                             <div class="slider-sub-title">We build creative & functional web products</div>
                             <div class="button-row">
                                 <a class="button-type-4" href="#">More about us</a>
                                 <a class="button-type-5" href="#">Our features</a>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="pagination pagination-white  pagination-top"></div>
                 <div class="swiper-arrow-left arrow-style-left arrow-style-1">prev</div>
                 <div class="swiper-arrow-right  arrow-style-right arrow-style-1">next</div>
             </div>
            <div class="scroll-to mouse" style=""><span></span></div>
        </div>

{% endblock %}
{% block content %}
    <div class="section section-border">
            <div class="container">
                <div class="title-block">
                    <h2 class="title">Why Digitech Partner ?</h2>
                    <div class="sub-title">
                        We are a creative agency with a passion for design & developing beautiful creations.
                        We’ve had the privilege to work with some of the largest names
                    </div>
                </div>
                <div class="row row-services">
                    <div class="col-md-4 col-sm-6  icon-style icon-style-2">
                        <span class="icon-tools"></span>
                        <h3 class="middle-title ">Web design</h3>
                        <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                            quae ab illo.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 icon-style icon-style-2">
                        <span class="icon-layers"></span>
                        <h3 class="middle-title ">development</h3>
                        <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                            quae ab illo.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 icon-style icon-style-2">
                        <span class=" icon-circle-compass"></span>
                        <h3 class="middle-title ">development</h3>
                        <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                            quae ab illo.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 icon-style icon-style-2">
                        <span class="icon-puzzle"></span>
                        <h3 class="middle-title ">programming</h3>
                        <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                            quae ab illo.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 icon-style icon-style-2">
                        <span class=" icon-camera"></span>
                        <h3 class="middle-title ">photography</h3>
                        <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                            quae ab illo.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 icon-style icon-style-2">
                        <span class="icon-telescope"></span>
                        <h3 class="middle-title ">support</h3>
                        <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                            quae ab illo.</p>
                    </div>
                </div>
            </div>
        </div>
     <div class="section">
            <div class="container">
                <div class="title-block">
                    <h2 class="title">work process</h2>
                    <div class="sub-title">
                        We are a creative agency with a passion for design & developing beautiful creations.
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-4 icon-style icon-style-3">
                        <span class="icon-presentation"></span>
                        <h3 class="middle-title middle-title_center"><span class="process-num">01.</span> make Plan</h3>
                        <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiume aque ipsa quae ab illo.</p>
                    </div>
                    <div class="col-sm-4  icon-style icon-style-3">
                        <span class=" icon-tools"></span>
                        <h3 class="middle-title middle-title_center"><span class="process-num">02.</span> development</h3>
                        <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiume aque ipsa quae ab illo.</p>
                    </div>
                    <div class="col-sm-4  icon-style icon-style-3">
                        <span class="icon-circle-compass"></span>
                        <h3 class="middle-title middle-title_center"><span class="process-num">03.</span> customer support</h3>
                        <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiume aque ipsa quae ab illo.</p>
                    </div>
                </div>
            </div>
        </div>
    <div class="info-section">
            <div class="container">
                <h2 class="info-title">“stop dreaming start doing!”</h2>
                <span class="info-sub-title">Weblionmedia - theme development Sonic</span>
            </div>
            <div class="clip">
                <div class="bg bg-bg" style="background-image:url(static/img/custom-bg-6.jpg)"></div>
            </div>
            <div class="overlay"></div>
        </div>


        <div class="section section-border">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12 col-md-4">
                            <div class="progress-bar-block">
                                <div class="progress-item">
                                    <div class="progress-name" >
                                        Web Design - <span class="progress-to" data-to="87" data-speed="1000">87</span>%
                                    </div>
                                    <div class="progress-line">
                                        <span class="progress-line-current"></span>
                                    </div>
                                </div>
                                <div class="progress-item">
                                    <div class="progress-name" >
                                        Development  - <span class="progress-to" data-to="100" data-speed="1000">100</span>%
                                    </div>
                                    <div class="progress-line">
                                        <span class="progress-line-current"></span>
                                    </div>
                                </div>
                                <div class="progress-item">
                                    <div class="progress-name" >
                                        Programming  - <span class="progress-to" data-to="50" data-speed="50">50</span>%
                                    </div>
                                    <div class="progress-line">
                                        <span class="progress-line-current"></span>
                                    </div>
                                </div>
                                <div class="progress-item">
                                    <div class="progress-name" >
                                        Customer support - <span class="progress-to" data-to="70" data-speed="1000">70</span>%
                                    </div>
                                    <div class="progress-line">
                                        <span class="progress-line-current"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="col-sm-6 col-md-8">
                        <h3>About Us</h3>
                        <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa quae ab illo veritatist quasi architecto beatae vitae dictaunt explicabo. Nemo enim ipsam voluptatem quia consequuntur magni dolores eos qui ratione </p>
                    </div>

                </div>
            </div>
        </div>

       <div class="section  section-border start-block">
            <div class="container relative">
                <div class="title-block">
                    <h2 class="title">portfolio</h2>
                    <div class="sub-title">
                        We are a creative agency with a passion for design & developing beautiful creations.
                        We’ve had the privilege to work with some of the largest names
                    </div>
                </div>
                <div class="row  row-portfolio">

                    <div class="nav-slider-min nav-slider-min-left  portfolio-prev"><i class="fa fa-angle-left"></i></div>
                    <div class="nav-slider-min nav-slider-min-right  portfolio-next"><i class="fa fa-angle-right"></i></div>
                    <div class="swiper-container"  data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="1" data-sm-slides="3" data-md-slides="3" data-lg-slides="3" data-add-slides="3" >
                         <div class="swiper-wrapper ">
                             <div class="swiper-slide">
                                 <div class="col-portfolio">
                                     <div class="portfolio-box">
                                         <img src="static/img/portfolio-1.jpg" alt="">
                                         <a href="#" class="portfolio-link">
                                             <span class="plus"><i class="fa fa-plus"></i></span>
                                         </a>
                                     </div>
                                     <div class="portfolio-info">
                                         <h3>project one</h3>
                                         <span>Art, Bysiness</span>
                                     </div>
                                 </div>
                             </div>
                             <div class="swiper-slide">
                                 <div class="col-portfolio" >
                                     <div class="portfolio-box">
                                         <img src="static/img/portfolio-3.jpg" alt="">
                                         <a href="#" class="portfolio-link">
                                             <span class="plus"><i class="fa fa-plus"></i></span>
                                         </a>
                                     </div>
                                     <div class="portfolio-info">
                                         <h3>project two</h3>
                                         <span>Art, Bysiness</span>
                                     </div>
                                 </div>
                             </div>
                             <div class="swiper-slide">
                                 <div class="col-portfolio" >
                                     <div class="portfolio-box">
                                         <img src="static/img/portfolio-2.jpg" alt="">
                                         <a href="#" class="portfolio-link">
                                             <span class="plus"><i class="fa fa-plus"></i></span>
                                             <span class="plus"><i class="fa fa-plus"></i></span>
                                         </a>
                                     </div>
                                     <div class="portfolio-info">
                                         <h3>project three</h3>
                                         <span>Art, Bysiness</span>
                                     </div>
                                 </div>
                             </div>
                             <div class="swiper-slide">
                                 <div class="col-portfolio">
                                     <div class="portfolio-box">
                                         <img src="static/img/portfolio-1.jpg" alt="">
                                         <a href="#" class="portfolio-link">
                                             <span class="plus"><i class="fa fa-plus"></i></span>
                                         </a>
                                     </div>
                                     <div class="portfolio-info">
                                         <h3>project one</h3>
                                         <span>Art, Bysiness</span>
                                     </div>
                                 </div>
                             </div>
                             <div class="swiper-slide">
                                 <div class="col-portfolio" >
                                     <div class="portfolio-box">
                                         <img src="static/img/portfolio-3.jpg" alt="">
                                         <a href="#" class="portfolio-link">
                                             <span class="plus"><i class="fa fa-plus"></i></span>
                                         </a>
                                     </div>
                                     <div class="portfolio-info">
                                         <h3>project two</h3>
                                         <span>Art, Bysiness</span>
                                     </div>
                                 </div>
                             </div>
                             <div class="swiper-slide">
                                 <div class="col-portfolio" >
                                     <div class="portfolio-box">
                                         <img src="static/img/portfolio-2.jpg" alt="">
                                         <a href="#" class="portfolio-link">
                                             <span class="plus"><i class="fa fa-plus"></i></span>
                                             <span class="plus"><i class="fa fa-plus"></i></span>
                                         </a>
                                     </div>
                                     <div class="portfolio-info">
                                         <h3>project three</h3>
                                         <span>Art, Bysiness</span>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="pagination pagination-hide"></div>
                     </div>
                </div>
            </div>
        </div>
    <div class="info-section">
            <div class="container">
                <div class="row time-line time-line-light time-line-light-no-bg">
                    <div class="col-sm-3">
                        <div class="count-box">
                            <span class="icon-lightbulb"></span>
                            <div class="count-amount" data-to="4560" data-speed="3000">4560</div>
                            <div class="count-name">
                                hours of work
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="count-box">
                            <span class="icon-camera"></span>
                            <div class="count-amount" data-to="155" data-speed="3000">155</div>
                            <div class="count-name">
                                projects completed
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="count-box">
                            <span class="icon-anchor"></span>
                            <div class="count-amount" data-to="100" data-speed="3000">100</div>
                            <div class="count-name">
                                client satisfaction
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="count-box">
                            <span class="icon-puzzle"></span>
                            <div class="count-amount" data-to="452" data-speed="3000">452</div>
                            <div class="count-name">
                                puzzles complete:)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clip">
                <div class="bg bg-bg" style="background-image:url(static/img/custom-bg-3.jpg)"></div>
            </div>
            <div class="overlay"></div>
        </div>
        <div class="section">
            <div class="container">
                <div class="title-block">
                    <h2 class="title">Our clients</h2>
                    <div class="sub-title">
                        We are a creative agency with a passion for design & developing beautiful creations.
                    </div>
                </div>
                <div class="swiper-container client-slider" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="2" data-sm-slides="3" data-md-slides="4" data-lg-slides="5" data-add-slides="6" >
                    <div class="swiper-wrapper ">
                        <div class="swiper-slide" >
                            <a href="#"><img src="static/img/client-1.png" alt=""></a>
                        </div>
                        <div class="swiper-slide" >
                            <a href="#"><img src="static/img/client-2.png" alt=""></a>
                        </div>
                        <div class="swiper-slide" >
                            <a href="#"><img src="static/img/client-3.png" alt=""></a>
                        </div>
                        <div class="swiper-slide" >
                            <a href="#"><img src="static/img/client-4.png" alt=""></a>
                        </div>
                        <div class="swiper-slide" >
                            <a href="#"><img src="static/img/client-5.png" alt=""></a>
                        </div>
                        <div class="swiper-slide" >
                            <a href="#"><img src="static/img/client-6.png" alt=""></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"><img src="static/img/client-1.png" alt=""></a>
                        </div>
                    </div>
                    <div class="pagination pagination-hide "></div>
                </div>
			</div>
        </div>

{% endblock %}
{% block js %}{% endblock %}