{% extends "master.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block meta %}
    <meta name="description" content="Digitech Partner is emerging company in IT sector. Established in 2015 with extremely qualified and well experienced professionals who let your IT related queries solve with their intellectual, out of the box and mind blowing ideas.We ensures that the functioning of your systems is optimized with end user support and data center management. Our services includes cutting edge solutions to install and integrate hardware and software to manage complex IT implementation projects successfully." />

<meta name="keywords" content="Web Design Gurgaon,Web Application,Dynamic Website,Static Website,Responsive Design,Responsive Website,Website,Website Development,Designing,Web Designing,Website Designing,Domain,Photography,Retouching,Domain Registration,CMS,ERP,Content,Content Writing,E Commerce,Print,Media,Print Media,Development,Digitech,Partner,Digitech Partner,Software,Software Development,Search,Search Engine,Search Engine Optimization,Social Marketing,Social,Social Media,SEO,SMO,Web,Support,Maintanance,Programming,Coding,Hosting,Outsourcing,Google Adsence,Gurgaon,Delhi,Company,Payment,Payment Gateway,Payment Gateway Integration,E-Commerce Website,E-commerce,E Commerce Solutions,solutions,Online Payment Integration,Shopping Cart,Gateway Integration" />

{% endblock %}
{% block css %}
    <style>
     .title:after {
         background: #dc3c4b;
     }
    .middle-title:after {
          background: #dc3c4b;
    }
    .fa-lightbulb-o,.fa-camera,.fa-angellist,.fa-coffee
    {
        font-size:60px !important;
    }


    </style>
{% endblock %}
{% block headerimage %}

    <div class="banner full-height-banner banner-type-3  gym-slider" >
            <div class="swiper-container full-height-slider"  data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
                <div class="swiper-wrapper ">
                    <div class="swiper-slide full-height-slide" style="background-image: url('/static/img/custom-bg-12.jpg')">
                        <div class="overlay overlay-lg"></div>
                        <div class="center">
                            <h1 class="slide-title">Welcome to Digitech Partner<br>
                             </h1>
                            <div class="slider-sub-title">Website designing and development<br>
                                We operate under two guiding principles: the delivery of cutting edge solutions; and always putting the customer first.</div>
                            <div class="button-row">
                                <a class="button-type-4" href="/about-us">More about us</a>
                                <a class="button-type-5" href="/services">check our services</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide full-height-slide" style="background-image: url('/static/img/banner-img-9.jpg')">
                        <div class="overlay overlay-lg"></div>
                        <div class="center">
                            <h2 class="slide-title">Welcome to Digitech Partner<br>
                             </h2>
                            <div class="slider-sub-title">Leverging emerging technologies <br>
                             in a disruptive technology environment .</div>
                            <div class="button-row">
                                <a class="button-type-4" href="/about-us">More about us</a>
                                <a class="button-type-5" href="/services">check our services</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide full-height-slide" style="background-image: url('/static/img/banner-img-10.jpg')">
                        <div class="overlay overlay-lg"></div>
                        <div class="center">
                            <h2 class="slide-title">Welcome to Digitech Partner<br>
                                </h2>
                            <div class="slider-sub-title">24x7 Support & Maintenance,<br>
                                We offer full support and maintenance services to our clients. problem and find the proper solution.</div>
                            <div class="button-row">
                                <a class="button-type-4" href="/about-us">More about us</a>
                                <a class="button-type-5" href="/services">check our services</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination pagination-white pagination-bottom  "></div>
                <div class="nav-slider-min nav-slider-min-left arrow-type-1 swiper-arrow-left"><i class="fa fa-angle-left"></i></div>
                <div class="nav-slider-min nav-slider-min-right  arrow-type-1 swiper-arrow-right"><i class="fa fa-angle-right"></i></div>
            </div>
        </div>

{% endblock %}
{% block content %}
    <div class="section section-border">
            <div class="container">
                <div class="title-block">
                    <h2 class="title">Why Digitech Partner ?</h2>
                    <div class="sub-title">
                        Digitech Partner is your complete technology partner. We offer the perfect solutions for all of your IT problems and all of your IT aspirations; and we practice what we preach: service is everything.
                    </div>
                </div>
                <div class="row row-services">
                    <div class="col-md-4 col-sm-6  icon-style icon-style-2">
                        <span class="icon-tools"></span>
                        <h3 class="middle-title ">Web Designing</h3>
                        <p>Web designing is the process of creating websites. It encompasses several different aspects, including webpage layout, content production, and graphic design.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 icon-style icon-style-2">
                        <span class="icon-layers"></span>
                        <h3 class="middle-title ">Web Development</h3>
                        <p>Web development is the back-end of the website, the programming and
                            interactions on the page.we focuses on how a site works and how the customers get things done on it.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 icon-style icon-style-2">
                        <span class=" icon-circle-compass"></span>
                        <h3 class="middle-title ">E Commerce</h3>
                        <p>Electronic commerce or ecommerce is a term for any type of business, or commercial transaction, that involves the transfer of information across the Internet
                            .</p>
                    </div>
                    <div class="col-md-4 col-sm-6 icon-style icon-style-2">
                        <span class="icon-puzzle"></span>
                        <h3 class="middle-title ">Software Development</h3>
                        <p>Software development is the process of computer programming, documenting, testing, and bug fixing involved in creating and maintaining applications
                            and frameworks involved in a software release life cycle and resulting in a software product.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 icon-style icon-style-2">
                        <span class=" icon-camera"></span>
                        <h3 class="middle-title ">SEO Services</h3>
                        <p>We develop, extend and deliver out of the box Search Engine Optimization solutions. Our Search Engine Optimization processes as well as
                            website development and IT enabled solutions are designed in accordance with the SEO guidelines by Google.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 icon-style icon-style-2">
                        <span class="icon-telescope"></span>
                        <h3 class="middle-title ">Support &amp; Maintanance</h3>
                        <p>Applications Support and Maintenance (ASM) represents a disproportionately large chunk of IT spend, for very little value in return. Throw into the mix that fewer than 20% of organizations have an application services strategy,
                            leading to overspending and underperformance, and ASM suddenly becomes a big budgetary blind spot.</p>
                    </div>
                    <div class="col-md-4 col-sm-6 icon-style icon-style-2">
                        <span class="icon-camera"></span>
                        <h3 class="middle-title ">Print Media</h3>
                        <p> We Digitech Partner are well aware of this requirements of our clients and therefore we are offering a
                            wide range of graphic design services that includes logo design, corporate identity design, corporate logo design, letterhead design, business card design, envelop design, brochure design etc at an affordable rate.
                        </p>
                    </div>
                    <div class="col-md-8 col-sm-10">

                        <iframe style="width:100%;height:250px;" src="https://www.youtube.com/embed/uKoYxFduzaQ" frameborder="0" allowfullscreen></iframe>
                    </div>


                </div>
            </div>
        </div>
     <div class="section">
            <div class="container">
                <div class="title-block">
                    <h2 class="title">work process</h2>
                    <div class="sub-title">
                        We are a creative agency with a passion for design & developing beautiful creations.
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-4 icon-style icon-style-3">
                        <span class="icon-presentation"></span>
                        <h3 class="middle-title middle-title_center"><span class="process-num">01.</span> make Plan</h3>
                        <p>Planning is essential for most businesses and organizations. In practice, many people fail to plan their websites. Sometimes the ever-busy, dynamic nature of running a business is to blame; there are so many operational demands that proper time is not allotted to projects.</p>
                    </div>
                    <div class="col-sm-4  icon-style icon-style-3">
                        <span class=" icon-tools"></span>
                        <h3 class="middle-title middle-title_center"><span class="process-num">02.</span> development</h3>
                        <p>The implementation of software design starts in terms of writing program code in the suitable programming language and developing error-free executable programs efficiently. The software is maintained timely by updating the code according to the changes taking place in user end environment or technology.</p>
                    </div>
                    <div class="col-sm-4  icon-style icon-style-3">
                        <span class="icon-circle-compass"></span>
                        <h3 class="middle-title middle-title_center"><span class="process-num">03.</span> support and maintenance</h3>
                        <p>After your website is successfully launched, we will still be around to carry out any modifications or addition of new sections if required. We offer full support and maintenance services to our clients. problem and find the proper solution.</p>
                    </div>
                </div>
            </div>
        </div>
    <div class="info-section">
            <div class="container">
                <h2 class="info-title">“stop dreaming start doing!”</h2>
                <span class="info-sub-title">Perfect technology partner for all of your IT requirements</span>
            </div>
            <div class="clip">
                <div class="bg bg-bg" style="background-image:url(/static/img/custom-bg-6.jpg)"></div>
            </div>
            <div class="overlay"></div>
        </div>


        <div class="section section-border">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12 col-md-4">
                            <div class="progress-bar-block">
                                <div class="progress-item">
                                    <div class="progress-name" >
                                        Web Design - <span class="progress-to" data-to="87" data-speed="1000">87</span>%
                                    </div>
                                    <div class="progress-line">
                                        <span class="progress-line-current"></span>
                                    </div>
                                </div>
                                <div class="progress-item">
                                    <div class="progress-name" >
                                        Development  - <span class="progress-to" data-to="100" data-speed="1000">100</span>%
                                    </div>
                                    <div class="progress-line">
                                        <span class="progress-line-current"></span>
                                    </div>
                                </div>
                                <div class="progress-item">
                                    <div class="progress-name" >
                                        Programming  - <span class="progress-to" data-to="90" data-speed="50">90</span>%
                                    </div>
                                    <div class="progress-line">
                                        <span class="progress-line-current"></span>
                                    </div>
                                </div>
                                <div class="progress-item">
                                    <div class="progress-name" >
                                        Customer support - <span class="progress-to" data-to="95" data-speed="1000">95</span>%
                                    </div>
                                    <div class="progress-line">
                                        <span class="progress-line-current"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="col-sm-6 col-md-8">
                        <h3>About Us</h3>
                        <p> Digitech Partner is emerging company in IT sector. Established in 2015 with extremely qualified and well experienced professionals who let your IT related queries solve with their intellectual, out of the box and mind blowing ideas. </p>
                        <p>We ensures that the functioning of your systems is optimized with end user support and data center management. Our services includes cutting edge solutions to install and integrate hardware and software to manage complex IT implementation projects successfully.</p>
                    </div>

                </div>
            </div>
        </div>

       <div class="section  section-border start-block">
            <div class="container relative">
                <div class="title-block">
                    <h2 class="title">portfolio</h2>
                    <div class="sub-title">
                        We are a creative agency with a passion for design & developing beautiful creations.
                        We’ve had the privilege to work with some of the largest names
                    </div>
                </div>
                <div class="row  row-portfolio">

                    <div class="nav-slider-min nav-slider-min-left  portfolio-prev"><i class="fa fa-angle-left"></i></div>
                    <div class="nav-slider-min nav-slider-min-right  portfolio-next"><i class="fa fa-angle-right"></i></div>
                    <div class="swiper-container"  data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="responsive" data-xs-slides="1" data-sm-slides="3" data-md-slides="3" data-lg-slides="3" data-add-slides="3" >
                         <div class="swiper-wrapper ">
                             <div class="swiper-slide">
                                 <div class="col-portfolio">
                                     <div class="portfolio-box">
                                         <img src="{% static 'appimg/wedding.JPG' %}" alt="Theweddingshopp.com">
                                         <a href="#" class="portfolio-link">
                                             <span class="plus"><i class="fa fa-plus"></i></span>
                                         </a>
                                     </div>
                                     <div class="portfolio-info">
                                         <h3>theweddingshopp.com</h3>
                                         <span>Online Wedding Site</span>
                                     </div>
                                 </div>
                             </div>
                             <div class="swiper-slide">
                                 <div class="col-portfolio" >
                                     <div class="portfolio-box">
                                         <img src="{% static 'appimg/invest.JPG' %}" alt="Investwizz.com">
                                         <a href="#" class="portfolio-link">
                                             <span class="plus"><i class="fa fa-plus"></i></span>
                                         </a>
                                     </div>
                                     <div class="portfolio-info">
                                         <h3>investwizz.com</h3>
                                         <span>Online Stock Details</span>
                                     </div>
                                 </div>
                             </div>
                             <div class="swiper-slide">
                                 <div class="col-portfolio" >
                                     <div class="portfolio-box">
                                         <img src="{% static 'appimg/apra.jpg' %}" alt="Apra Health Services">
                                         <a href="http://www.aprahealthservices.org.in" rel="nofollow" class="portfolio-link">
                                             <span class="plus"><i class="fa fa-plus"></i></span>
                                             <span class="plus"><i class="fa fa-plus"></i></span>
                                         </a>
                                     </div>
                                     <div class="portfolio-info">
                                         <h3>Apra Health Services</h3>
                                         <span>Health Insurance Services</span>
                                     </div>
                                 </div>
                             </div>
                             <div class="swiper-slide">
                                 <div class="col-portfolio">
                                     <div class="portfolio-box">
                                         <img src="{% static 'appimg/imac.JPG' %}" alt="ImakeaChoice">
                                         <a href="http://www.imakeachoice.com" rel="nofollow" class="portfolio-link">
                                             <span class="plus"><i class="fa fa-plus"></i></span>
                                         </a>
                                     </div>
                                     <div class="portfolio-info">
                                         <h3>ImakeaChoice</h3>
                                         <span>Paintings,Sculptures,Oil Paintings, Canvas</span>
                                     </div>
                                 </div>
                             </div>

                         </div>
                         <div class="pagination pagination-hide"></div>
                     </div>
                </div>
            </div>
        </div>
    <div class="info-section">
            <div class="container">
                <div class="row time-line time-line-light time-line-light-no-bg">
                    <div class="col-sm-3">
                        <div class="count-box">
                            <span class="fa fa-lightbulb-o"></span>
                            <div class="count-amount" data-to="4560" data-speed="3000">4560</div>
                            <div class="count-name">
                                hours of work
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="count-box">
                            <span class="fa fa-camera"></span>
                            <div class="count-amount" data-to="5" data-speed="3000">5</div>
                            <div class="count-name">
                                projects completed
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="count-box">
                            <span class="fa fa-angellist"></span>
                            <div class="count-amount" data-to="100" data-speed="3000">10</div>
                            <div class="count-name">
                                client satisfaction
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="count-box">
                            <span class="fa fa-coffee"></span>
                            <div class="count-amount" data-to="452" data-speed="3000">452</div>
                            <div class="count-name">
                                cups of cofee :)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clip">
                <div class="bg bg-bg" style="background-image:url(/static/img/custom-bg-3.jpg)"></div>
            </div>
            <div class="overlay"></div>
        </div>

{% endblock %}
{% block js %}{% endblock %}