{% extends "master.html" %}
{% block title %}Our Clients{% endblock %}
{% block meta %}{% endblock %}
{% block css %}{% endblock %}
{% block headerimage %}
  <div class="banner banner-template">
            <div class="container">
                <div class="title-header">
                    <h1>Our Clients </h1>
                    <h6 class="header-sub-title">We gave values to our clients.</h6>
                </div>
            </div>
            <div class="scroll-to mouse"><span></span></div>
            <div class="clip">
                <div class="bg bg-bg" style="background-image:url(img/h-bg-2.jpg)"></div>
            </div>
            <div class="overlay"></div>
        </div>


{% endblock %}
{% block content %}
 <main class="main-blog start-block">
            <div class="container-fluid-m ">
                <div class="row container-masonry">

                    <div class=" post-col item-masonry">
                        <div class="swiper-container"  data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
                            <div class="swiper-wrapper ">
                                <div class="swiper-slide">
                                    <a class="post-img-link" href="single.html">
                                        <img src="img/post-img-19.jpg" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="post-img-link" href="single.html">
                                        <img src="img/post-img-14.jpg" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="post-img-link" href="single.html">
                                        <img src="img/post-img-15.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="pagination pagination-bottom"></div>
                            <div class="sl-post-prev  swiper-arrow-left"><i class="fa fa-angle-left"></i></div>
                            <div class="sl-post-next  swiper-arrow-right"><i class="fa fa-angle-right"></i></div>
                        </div>
                        <h3 class="post-title post-title-sm"><a href="single.html">Client</a></h3>
                        <div class="post-info-row post-info-row-sm">
                            <div class="post-info-item">
                                08 October, 2015
                            </div>
                            <span>/</span>
                            <div class="post-info-item">
                                Comments
                            </div>
                        </div>
                        <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque</p>
                    </div>
                    <div class=" post-col item-masonry">
                        <div class="swiper-container"  data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
                            <div class="swiper-wrapper ">
                                <div class="swiper-slide">
                                    <a class="post-img-link" href="single.html">
                                        <img src="img/post-img-19.jpg" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="post-img-link" href="single.html">
                                        <img src="img/post-img-14.jpg" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="post-img-link" href="single.html">
                                        <img src="img/post-img-15.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="pagination pagination-bottom"></div>
                            <div class="sl-post-prev  swiper-arrow-left"><i class="fa fa-angle-left"></i></div>
                            <div class="sl-post-next  swiper-arrow-right"><i class="fa fa-angle-right"></i></div>
                        </div>
                        <h3 class="post-title post-title-sm"><a href="single.html">Client</a></h3>
                        <div class="post-info-row post-info-row-sm">
                            <div class="post-info-item">
                                08 October, 2015
                            </div>
                            <span>/</span>
                            <div class="post-info-item">
                                Comments
                            </div>
                        </div>
                        <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque</p>
                    </div>
                    <div class=" post-col item-masonry">
                        <div class="swiper-container"  data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1">
                            <div class="swiper-wrapper ">
                                <div class="swiper-slide">
                                    <a class="post-img-link" href="single.html">
                                        <img src="img/post-img-19.jpg" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="post-img-link" href="single.html">
                                        <img src="img/post-img-14.jpg" alt="">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="post-img-link" href="single.html">
                                        <img src="img/post-img-15.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="pagination pagination-bottom"></div>
                            <div class="sl-post-prev  swiper-arrow-left"><i class="fa fa-angle-left"></i></div>
                            <div class="sl-post-next  swiper-arrow-right"><i class="fa fa-angle-right"></i></div>
                        </div>
                        <h3 class="post-title post-title-sm"><a href="single.html">Client</a></h3>
                        <div class="post-info-row post-info-row-sm">
                            <div class="post-info-item">
                                08 October, 2015
                            </div>
                            <span>/</span>
                            <div class="post-info-item">
                                Comments
                            </div>
                        </div>
                        <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque</p>
                    </div>

                </div>
                <div class="show-row text-center">
                    <a class="button button-type-3-md  margin-bottom-0  append-button"  href="#">show more posts</a>
                </div>
            </div>
        </main>

{% endblock %}
{% block js %}{% endblock %}