{% extends "master.html" %}
{% block title %}Portfolio{% endblock %}
{% block meta %}
        <meta name="description" content="Digitech Partner is emerging company in IT sector. Established in 2015 with extremely qualified and well experienced professionals who let your IT related queries solve with their intellectual, out of the box and mind blowing ideas.We ensures that the functioning of your systems is optimized with end user support and data center management. Our services includes cutting edge solutions to install and integrate hardware and software to manage complex IT implementation projects successfully." />

<meta name="keywords" content="Open Source web development,Open Source,Professional,Professional Development,Web Design Gurgaon,Web Application,Dynamic Website,Static Website,Responsive Design,Responsive Website,Website,Website Development,Designing,Web Designing,Website Designing,Domain,Photography,Retouching,Domain Registration,CMS,ERP,Content,Content Writing,E Commerce,Print,Media,Print Media,Development,Digitech,Partner,Digitech Partner,Software,Software Development,Search,Search Engine,Search Engine Optimization,Social Marketing,Social,Social Media,SEO,SMO,Web,Support,Maintanance,Programming,Coding,Hosting,Outsourcing,Google Adsence,Gurgaon,Delhi,Company,Payment,Payment Gateway,Payment Gateway Integration,E-Commerce Website,E-commerce,E Commerce Solutions,solutions,Online Payment Integration,Shopping Cart,Gateway Integration" />

{% endblock %}
{% block css %}
    <style>
    .row{
        margin-bottom: 30px;

    }
    </style>
{% endblock %}
{% block headerimage %}

   <div class="banner banner-template">
            <div class="container">
                <div class="title-header">
                    <h1>our works </h1>
                    <h6 class="header-sub-title">We Share Our Best With Clients</h6>
                </div>
            </div>
            <div class="scroll-to mouse"><span></span></div>
            <div class="clip">
                <div class="bg bg-bg" style="background-image:url(/static/img/custom-bg-10.jpg)"></div>
            </div>
            <div class="overlay"></div>
        </div>

{% endblock %}
{% block content %}
  <main>
        <section class="section section-border">

            <div class="container project-container" style="padding-top: 0px;">
                <div class="row">
                    <div class="col-sm-8 col-md-8">
                        <div class="swiper-container portfolio-slider swiper-swiper-unique-id-0 initialized" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1" id="swiper-unique-id-0">
                            <div class="swiper-wrapper " style="width: 3750px; transform: translate3d(-750px, 0px, 0px); transition-duration: 0s; height: 499px;"><div class="swiper-slide swiper-slide-duplicate" style="width: 750px; height: 499px;">
                                    <img class="img-responsive" src="/static/img/full-p-3.jpg" alt="">
                                </div>
                                <div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 750px; height: 499px;">
                                    <img class="img-responsive" src="/static/img/full-p-1.jpg" alt="">
                                </div>
                                <div class="swiper-slide" style="width: 750px; height: 499px;">
                                    <img class="img-responsive" src="/static/img/full-p-2.jpg" alt="">
                                </div>
                                <div class="swiper-slide" style="width: 750px; height: 499px;">
                                    <img class="img-responsive" src="/static/img/full-p-3.jpg" alt="">
                                </div>
                            <div class="swiper-slide swiper-slide-duplicate" style="width: 750px; height: 499px;">
                                    <img class="img-responsive" src="img/full-p-1.jpg" alt="">
                                </div></div>
                            <div class="pagination pagination-bottom pagination-swiper-unique-id-0"><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span></div>
                            <div class="sl-post-prev  swiper-arrow-left"><i class="fa fa-angle-left"></i></div>
                            <div class="sl-post-next  swiper-arrow-right"><i class="fa fa-angle-right"></i></div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="project-det">
                            <h3>THEWEDDINGSHOPP</h3>
                            <ul class="detail-list">
                                <li>Client: <span>Sudhir Dagar</span></li>
                                <li>Date:  <span>18 August, 2015</span></li>
                                <li>link: <span><a href="#">www.theweddingshopp.com</a></span></li>
                            </ul>
                            <p>Theweddingshopp.com is part of Cognitive Solutions Group which provides an
                                exclusive marketplace, a one stop shop for the users who can find all type of wedding vendors at one place.</p>
                        </div>
                    </div>
                </div><hr />
                <div class="row">
                    <div class="col-sm-8 col-md-8">
                        <div class="swiper-container portfolio-slider swiper-swiper-unique-id-0 initialized" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1" id="swiper-unique-id-1">
                            <div class="swiper-wrapper " style="width: 3750px; transform: translate3d(-750px, 0px, 0px); transition-duration: 0s; height: 499px;"><div class="swiper-slide swiper-slide-duplicate" style="width: 750px; height: 499px;">
                                    <img class="img-responsive" src="/static/img/full-p-3.jpg" alt="">
                                </div>
                                <div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 750px; height: 499px;">
                                    <img class="img-responsive" src="/static/img/full-p-1.jpg" alt="">
                                </div>
                                <div class="swiper-slide" style="width: 750px; height: 499px;">
                                    <img class="img-responsive" src="/static/img/full-p-2.jpg" alt="">
                                </div>
                                <div class="swiper-slide" style="width: 750px; height: 499px;">
                                    <img class="img-responsive" src="/static/img/full-p-3.jpg" alt="">
                                </div>
                            <div class="swiper-slide swiper-slide-duplicate" style="width: 750px; height: 499px;">
                                    <img class="img-responsive" src="img/full-p-1.jpg" alt="">
                                </div></div>
                            <div class="pagination pagination-bottom pagination-swiper-unique-id-0"><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span></div>
                            <div class="sl-post-prev  swiper-arrow-left"><i class="fa fa-angle-left"></i></div>
                            <div class="sl-post-next  swiper-arrow-right"><i class="fa fa-angle-right"></i></div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="project-det">
                            <h3>ARA HEALTH SERVICES</h3>
                            <ul class="detail-list">
                                <li>Client: <span>Ashish Kumar Jha</span></li>
                                <li>Date:  <span>December, 2015</span></li>
                                <li>link: <span><a href="#">www.aprahealthservices.org.in</a></span></li>
                            </ul>
                            <p>Apra Health Services designed for Preventive Health Check plans to ensure that people in general can also access Health Care at affordable price.
                                Whether supporting the needs of an individual or a Family,
                                Apra Health Services has a complete Preventive Health Check Plans offering with a consistent experience and outcome For a Healthy tomorrow.

                            </p>
                        </div>
                    </div>
                </div><hr />
                <div class="row">
                    <div class="col-sm-8 col-md-8">
                        <div class="swiper-container portfolio-slider swiper-swiper-unique-id-0 initialized" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1" id="swiper-unique-id-2">
                            <div class="swiper-wrapper " style="width: 3750px; transform: translate3d(-750px, 0px, 0px); transition-duration: 0s; height: 499px;"><div class="swiper-slide swiper-slide-duplicate" style="width: 750px; height: 499px;">
                                    <img class="img-responsive" src="/static/img/full-p-3.jpg" alt="">
                                </div>
                                <div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 750px; height: 499px;">
                                    <img class="img-responsive" src="/static/img/full-p-1.jpg" alt="">
                                </div>
                                <div class="swiper-slide" style="width: 750px; height: 499px;">
                                    <img class="img-responsive" src="/static/img/full-p-2.jpg" alt="">
                                </div>
                                <div class="swiper-slide" style="width: 750px; height: 499px;">
                                    <img class="img-responsive" src="/static/img/full-p-3.jpg" alt="">
                                </div>
                            <div class="swiper-slide swiper-slide-duplicate" style="width: 750px; height: 499px;">
                                    <img class="img-responsive" src="img/full-p-1.jpg" alt="">
                                </div></div>
                            <div class="pagination pagination-bottom pagination-swiper-unique-id-0"><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span></div>
                            <div class="sl-post-prev  swiper-arrow-left"><i class="fa fa-angle-left"></i></div>
                            <div class="sl-post-next  swiper-arrow-right"><i class="fa fa-angle-right"></i></div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="project-det">
                            <h3>IMAKEACHOICE</h3>
                            <ul class="detail-list">
                                <li>Client: <span>IMAKEACHOICE</span></li>
                                <li>Date:  <span>October, 2014</span></li>
                                <li>link: <span><a href="#">www.imakeachoice.com</a></span></li>
                            </ul>
                            <p>
                                Imakeachoice-Paintings,Sculptures,Oil Paintings, Canvas..
                            </p>
                        </div>
                    </div>
                </div><hr />
                <div class="row">
                    <div class="col-sm-8 col-md-8">
                        <div class="swiper-container portfolio-slider swiper-swiper-unique-id-0 initialized" data-autoplay="0" data-loop="1" data-speed="500" data-center="0" data-slides-per-view="1" id="swiper-unique-id-4">
                            <div class="swiper-wrapper " style="width: 3750px; transform: translate3d(-750px, 0px, 0px); transition-duration: 0s; height: 499px;"><div class="swiper-slide swiper-slide-duplicate" style="width: 750px; height: 499px;">
                                    <img class="img-responsive" src="/static/img/full-p-3.jpg" alt="">
                                </div>
                                <div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 750px; height: 499px;">
                                    <img class="img-responsive" src="/static/img/full-p-1.jpg" alt="">
                                </div>
                                <div class="swiper-slide" style="width: 750px; height: 499px;">
                                    <img class="img-responsive" src="/static/img/full-p-2.jpg" alt="">
                                </div>
                                <div class="swiper-slide" style="width: 750px; height: 499px;">
                                    <img class="img-responsive" src="/static/img/full-p-3.jpg" alt="">
                                </div>
                            <div class="swiper-slide swiper-slide-duplicate" style="width: 750px; height: 499px;">
                                    <img class="img-responsive" src="img/full-p-1.jpg" alt="">
                                </div></div>
                            <div class="pagination pagination-bottom pagination-swiper-unique-id-0"><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span></div>
                            <div class="sl-post-prev  swiper-arrow-left"><i class="fa fa-angle-left"></i></div>
                            <div class="sl-post-next  swiper-arrow-right"><i class="fa fa-angle-right"></i></div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="project-det">
                            <h3>INVESTWIZZ</h3>
                            <ul class="detail-list">
                                <li>Client: <span>Sandeep</span></li>
                                <li>Date:  <span>October, 2014</span></li>
                                <li>link: <span><a href="#">www.investwizz.com</a></span></li>
                            </ul>
                            <p>Stock, Securities, Financial App, India, Capital, Mutual Fund, NSE, BSE, National Stock exchange,
                                Bombay Stock exchange, Investment, Value investment, Stock Research, Alpha seeker,  India Stocks,
                                India stock research, Finance, India Finance, India Financial blogs, Key economic trends,
                                India Funds Portfolio analysis,  Graham, Buffett, Fundamental analysis, Value seeker, Energy sector analysis,
                                Financial sector analysis, Technology sector analysis, Earnings
                                transcript, Stock earnings, Earnings update Share earnings release date, India Stock watch list,India stock notifications

                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </main>

{% endblock %}
{% block js %}{% endblock %}