{% extends "master.html" %}
{% block title %}Portfolio{% endblock %}
{% block meta %}{% endblock %}
{% block css %}{% endblock %}
{% block headerimage %}

   <div class="banner banner-template">
            <div class="container">
                <div class="title-header">
                    <h1>our works </h1>
                    <h6 class="header-sub-title">We Share Our Best News in the Blog Post</h6>
                </div>
            </div>
            <div class="scroll-to mouse"><span></span></div>
            <div class="clip">
                <div class="bg bg-bg" style="background-image:url(img/custom-bg-7.jpg)"></div>
            </div>
            <div class="overlay"></div>
        </div>

{% endblock %}
{% block content %}
   <main class="main-portfolio start-block">
            <div class="container">
                <ul class="filter-list portfolio-filter">
                    <li class="filter" data-filter="all"><a data-type="category-1">all works</a></li>
                    <li class="filter" data-filter=".category-1"><a data-type="category-2">photo</a></li>
                    <li class="filter" data-filter=".category-2"><a data-type="category-3">creative</a></li>
                    <li class="filter active" data-filter=".category-3"><a data-type="category-3">Art</a></li>
                </ul>
                <div class="row">
                    <div class="container-mix clearfix">
                        <div class="col-sm-6 col-md-4 col-xs-12 mix category-1">
                            <div class="gallery-box work-box">
                                <a href="#">
                                    <img src="img/pt2-1.jpg" alt="">
                                    <div class="g-project-info">
                                        <div class="g-project-info-inner">
                                            <h3>Project three</h3>
                                            <span class="g-cat">Art, Bysiness</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xs-12 mix category-2">
                            <div class="gallery-box work-box">
                                <a href="#">
                                    <img src="img/pt2-2.jpg" alt="">
                                    <div class="g-project-info">
                                        <div class="g-project-info-inner">
                                            <h3>Project three</h3>
                                            <span class="g-cat">Art, Bysiness</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xs-12 mix category-3">
                            <div class="gallery-box work-box">
                                <a href="#">
                                    <img src="img/pt2-3.jpg" alt="">
                                    <div class="g-project-info">
                                        <div class="g-project-info-inner">
                                            <h3>Project three</h3>
                                            <span class="g-cat">Art, Bysiness</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xs-12 mix category-1">
                            <div class="gallery-box work-box">
                                <a href="#">
                                    <img src="img/pt2-4.jpg" alt="">
                                    <div class="g-project-info">
                                        <div class="g-project-info-inner">
                                            <h3>Project three</h3>
                                            <span class="g-cat">Art, Bysiness</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xs-12 mix category-2">
                            <div class="gallery-box work-box">
                                <a href="#">
                                    <img src="img/pt2-5.jpg" alt="">
                                    <div class="g-project-info">
                                        <div class="g-project-info-inner">
                                            <h3>Project three</h3>
                                            <span class="g-cat">Art, Bysiness</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xs-12 mix category-3">
                            <div class="gallery-box work-box">
                                <a href="#">
                                    <img src="img/pt2-6.jpg" alt="">
                                    <div class="g-project-info">
                                        <div class="g-project-info-inner">
                                            <h3>Project three</h3>
                                            <span class="g-cat">Art, Bysiness</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xs-12 mix category-1">
                            <div class="gallery-box work-box">
                                <a href="#">
                                    <img src="img/pt2-7.jpg" alt="">
                                    <div class="g-project-info">
                                        <div class="g-project-info-inner">
                                            <h3>Project three</h3>
                                            <span class="g-cat">Art, Bysiness</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xs-12 mix category-2">
                            <div class="gallery-box work-box">
                                <a href="#">
                                    <img src="img/pt2-8.jpg" alt="">
                                    <div class="g-project-info">
                                        <div class="g-project-info-inner">
                                            <h3>Project three</h3>
                                            <span class="g-cat">Art, Bysiness</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xs-12 mix category-3">
                            <div class="gallery-box work-box">
                                <a href="#">
                                    <img src="img/pt2-9.jpg" alt="">
                                    <div class="g-project-info">
                                        <div class="g-project-info-inner">
                                            <h3>Project three</h3>
                                            <span class="g-cat">Art, Bysiness</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xs-12 mix category-1">
                            <div class="gallery-box work-box">
                                <a href="#">
                                    <img src="img/pt2-10.jpg" alt="">
                                    <div class="g-project-info">
                                        <div class="g-project-info-inner">
                                            <h3>Project three</h3>
                                            <span class="g-cat">Art, Bysiness</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xs-12 mix category-2">
                            <div class="gallery-box work-box">
                                <a href="#">
                                    <img src="img/pt2-11.jpg" alt="">
                                    <div class="g-project-info">
                                        <div class="g-project-info-inner">
                                            <h3>Project three</h3>
                                            <span class="g-cat">Art, Bysiness</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xs-12 mix category-3">
                            <div class="gallery-box work-box">
                                <a href="#">
                                    <img src="img/pt2-12.jpg" alt="">
                                    <div class="g-project-info">
                                        <div class="g-project-info-inner">
                                            <h3>Project three</h3>
                                            <span class="g-cat">Art, Bysiness</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container-mix clearfix">
                        <div class="col-sm-12 col-md-12 col-xs-12" >
                             <div class="gallery-box work-box" style="border:1px solid gray;">Ad Space</div>
                        </div>
                        </div>
                </div>
            </div>

        </main>

{% endblock %}
{% block js %}{% endblock %}