{% extends "master.html" %}
{% block title %}Print Media Service{% endblock %}
{% block meta %}{% endblock %}
{% block css %}{% endblock %}
{% block headerimage %}
  <div class="banner banner-template">
            <div class="container">
                <div class="title-header">
                    <h1>E Commerce</h1>
                    <h6 class="header-sub-title"><a href="/enquiry" >Request a quote</a> for Print Media services.</h6>
                </div>
            </div>
            <div class="scroll-to mouse"><span></span></div>
            <div class="clip">
                <div class="bg bg-bg" style="background-image:url(img/h-bg-2.jpg)"></div>
            </div>
            <div class="overlay"></div>
        </div>


{% endblock %}
{% block content %}
 <main class="main-shotcodes start-block">

            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="tab-wrapper clearfix tab-style-3">
                                <div class="nav-tab clearfix">
                                    <div class="nav-tab-item active">Graphics Design</div>
                                    <div class="nav-tab-item">Photoshoot</div>
                                    <div class="nav-tab-item">Image Retouching</div>
                                    <div class="nav-tab-item">Image Masking</div>
                                </div>
                                <div class="tabs-content">
                                    <div class="tab-info active">
                                       <div class="col-sm-12 dropcaps dropcaps-type-2">
                            <p>Qmnis iste natus doxes sit voluptatem accusantium doloremque la dantiume aque ipsa quae abnatus doxes sit voluptatem accusantium doloremque la dantiume aque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta unt explicabo. Nemo enim ipsam voluptatemquia </p>
                        </div>
                                    </div>
                                    <div class="tab-info">
                                    <div class="col-sm-12 dropcaps dropcaps-type-2">
                            <p>Qmnis iste natus doxes sit voluptatem accusantium doloremque la dantiume aque ipsa quae abnatus doxes sit voluptatem accusantium doloremque la dantiume aque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta unt explicabo. Nemo enim ipsam voluptatemquia </p>
                        </div>
                                    </div>
                                    <div class="tab-info">
                                    <div class="col-sm-12 dropcaps dropcaps-type-2">
                            <p>Qmnis iste natus doxes sit voluptatem accusantium doloremque la dantiume aque ipsa quae abnatus doxes sit voluptatem accusantium doloremque la dantiume aque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta unt explicabo. Nemo enim ipsam voluptatemquia </p>
                        </div>
                                    </div>
                                    <div class="tab-info">
                                    <div class="col-sm-12 dropcaps dropcaps-type-2">
                            <p>Qmnis iste natus doxes sit voluptatem accusantium doloremque la dantiume aque ipsa quae abnatus doxes sit voluptatem accusantium doloremque la dantiume aque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta unt explicabo. Nemo enim ipsam voluptatemquia </p>
                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2" style="border:1px solid gray;">
                            Ad Space
                            </div>

                    </div>
                </div>
            </section>
        </main>

{% endblock %}
{% block js %}{% endblock %}