{% extends "master.html" %}
{% block title %}Our Services{% endblock %}
{% block meta %}
        <meta name="description" content="Digitech Partner is emerging company in IT sector. Established in 2015 with extremely qualified and well experienced professionals who let your IT related queries solve with their intellectual, out of the box and mind blowing ideas.We ensures that the functioning of your systems is optimized with end user support and data center management. Our services includes cutting edge solutions to install and integrate hardware and software to manage complex IT implementation projects successfully." />

<meta name="keywords" content="Open Source web development,Open Source,Professional,Professional Development,Web Design Gurgaon,Web Application,Dynamic Website,Static Website,Responsive Design,Responsive Website,Website,Website Development,Designing,Web Designing,Website Designing,Domain,Photography,Retouching,Domain Registration,CMS,ERP,Content,Content Writing,E Commerce,Print,Media,Print Media,Development,Digitech,Partner,Digitech Partner,Software,Software Development,Search,Search Engine,Search Engine Optimization,Social Marketing,Social,Social Media,SEO,SMO,Web,Support,Maintanance,Programming,Coding,Hosting,Outsourcing,Google Adsence,Gurgaon,Delhi,Company,Payment,Payment Gateway,Payment Gateway Integration,E-Commerce Website,E-commerce,E Commerce Solutions,solutions,Online Payment Integration,Shopping Cart,Gateway Integration" />
{% endblock %}
{% block css %}
    <style>
    .row
    {
        margin-top: 35px !important;
        margin-bottom: 35px !important;

    }
    </style>
{% endblock %}
{% block headerimage %}
<div class="banner banner-template"><div class="container"><div class="title-header"><h1>Our Services</h1><h6 class="header-sub-title">Why Choose Digitech Partner ?</h6></div></div><div class="scroll-to mouse"><span></span></div><div class="clip"><div class="bg bg-bg" style="background-image:url(img/custom-bg-8.jpg)"></div></div><div class="overlay"></div></div>
{% endblock %}
{% block content %}
    <main class="main-shotcodes start-block">
        <section class="section section-border">
                <div class="container">
                    <div class="title-block">
                        <h2 class="title">Our Services</h2>
                        <div class="sub-title">
                            We are a creative agency with a passion for design & developing beautiful creations.
                            We’ve had the privilege to work with some of the largest names
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 icon-style icon-style-1">
                            <span class="icon-tools"></span>
                            <h3 class="middle-title middle-title_center">Web Designing</h3>
                            <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                                quae ab illo.</p>
                        </div>
                        <div class="col-sm-4 icon-style icon-style-1">
                            <span class="icon-gears"></span>
                            <h3 class="middle-title middle-title_center">Web Development</h3>
                            <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                                quae ab illo.</p>
                        </div>
                        <div class="col-sm-4 icon-style icon-style-1">
                            <span class="icon-pencil"></span>
                            <h3 class="middle-title middle-title_center">E-Commerce</h3>
                            <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                                quae ab illo.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 icon-style icon-style-1">
                            <span class="icon-tools"></span>
                            <h3 class="middle-title middle-title_center">Print Media</h3>
                            <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                                quae ab illo.</p>
                        </div>
                        <div class="col-sm-4 icon-style icon-style-1">
                            <span class="icon-gears"></span>
                            <h3 class="middle-title middle-title_center">Seo Services</h3>
                            <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                                quae ab illo.</p>
                        </div>
                        <div class="col-sm-4 icon-style icon-style-1">
                            <span class="icon-pencil"></span>
                            <h3 class="middle-title middle-title_center">Support & Maintenance</h3>
                            <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                                quae ab illo.</p>
                        </div>
                    </div>
<div class="row">
                        <div class="col-sm-4 icon-style icon-style-1">
                            <span class="icon-tools"></span>
                            <h3 class="middle-title middle-title_center">Software Development</h3>
                            <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                                quae ab illo.</p>
                        </div>
                        <div class="col-sm-4 icon-style icon-style-1">
                            <span class="icon-gears"></span>
                            <h3 class="middle-title middle-title_center">Seo Services</h3>
                            <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                                quae ab illo.</p>
                        </div>
                        <div class="col-sm-4 icon-style icon-style-1">
                            <span class="icon-pencil"></span>
                            <h3 class="middle-title middle-title_center">Support & Maintenance</h3>
                            <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                                quae ab illo.</p>
                        </div>
                    </div>
                </div>
            </section>


    </main>
{% endblock %}


