{% extends "master.html" %}
{% block title %}Our Services{% endblock %}
{% block meta %}{% endblock %}
{% block css %}
    <style>
    .row
    {
        margin-top: 35px !important;
        margin-bottom: 35px !important;

    }
    </style>
{% endblock %}
{% block headerimage %}
<div class="banner banner-template"><div class="container"><div class="title-header"><h1>Our Services</h1><h6 class="header-sub-title">Why Choose Digitech Partner ?</h6></div></div><div class="scroll-to mouse"><span></span></div><div class="clip"><div class="bg bg-bg" style="background-image:url(img/custom-bg-8.jpg)"></div></div><div class="overlay"></div></div>
{% endblock %}
{% block content %}
    <main class="main-shotcodes start-block">
        <section class="section section-border">
                <div class="container">
                    <div class="title-block">
                        <h2 class="title">Our Services</h2>
                        <div class="sub-title">
                            We are a creative agency with a passion for design & developing beautiful creations.
                            We’ve had the privilege to work with some of the largest names
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 icon-style icon-style-1">
                            <span class="icon-tools"></span>
                            <h3 class="middle-title middle-title_center">Web Designing</h3>
                            <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                                quae ab illo.</p>
                        </div>
                        <div class="col-sm-4 icon-style icon-style-1">
                            <span class="icon-gears"></span>
                            <h3 class="middle-title middle-title_center">Web Development</h3>
                            <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                                quae ab illo.</p>
                        </div>
                        <div class="col-sm-4 icon-style icon-style-1">
                            <span class="icon-pencil"></span>
                            <h3 class="middle-title middle-title_center">E-Commerce</h3>
                            <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                                quae ab illo.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 icon-style icon-style-1">
                            <span class="icon-tools"></span>
                            <h3 class="middle-title middle-title_center">Print Media</h3>
                            <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                                quae ab illo.</p>
                        </div>
                        <div class="col-sm-4 icon-style icon-style-1">
                            <span class="icon-gears"></span>
                            <h3 class="middle-title middle-title_center">Seo Services</h3>
                            <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                                quae ab illo.</p>
                        </div>
                        <div class="col-sm-4 icon-style icon-style-1">
                            <span class="icon-pencil"></span>
                            <h3 class="middle-title middle-title_center">Support & Maintenance</h3>
                            <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                                quae ab illo.</p>
                        </div>
                    </div>
<div class="row">
                        <div class="col-sm-4 icon-style icon-style-1">
                            <span class="icon-tools"></span>
                            <h3 class="middle-title middle-title_center">Software Development</h3>
                            <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                                quae ab illo.</p>
                        </div>
                        <div class="col-sm-4 icon-style icon-style-1">
                            <span class="icon-gears"></span>
                            <h3 class="middle-title middle-title_center">Seo Services</h3>
                            <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                                quae ab illo.</p>
                        </div>
                        <div class="col-sm-4 icon-style icon-style-1">
                            <span class="icon-pencil"></span>
                            <h3 class="middle-title middle-title_center">Support & Maintenance</h3>
                            <p>Perspiciatis unde omnis iste natus doxes sit voluptatem accusantium doloremque la dantiumeaque ipsa
                                quae ab illo.</p>
                        </div>
                    </div>
                </div>
            </section>


    </main>
{% endblock %}


