{% extends "master.html" %}
{% block title %}Our Services{% endblock %}
{% block meta %}
        <meta name="description" content="Digitech Partner is emerging company in IT sector. Established in 2015 with extremely qualified and well experienced professionals who let your IT related queries solve with their intellectual, out of the box and mind blowing ideas.We ensures that the functioning of your systems is optimized with end user support and data center management. Our services includes cutting edge solutions to install and integrate hardware and software to manage complex IT implementation projects successfully." />

<meta name="keywords" content="Open Source web development,Open Source,Professional,Professional Development,Web Design Gurgaon,Web Application,Dynamic Website,Static Website,Responsive Design,Responsive Website,Website,Website Development,Designing,Web Designing,Website Designing,Domain,Photography,Retouching,Domain Registration,CMS,ERP,Content,Content Writing,E Commerce,Print,Media,Print Media,Development,Digitech,Partner,Digitech Partner,Software,Software Development,Search,Search Engine,Search Engine Optimization,Social Marketing,Social,Social Media,SEO,SMO,Web,Support,Maintanance,Programming,Coding,Hosting,Outsourcing,Google Adsence,Gurgaon,Delhi,Company,Payment,Payment Gateway,Payment Gateway Integration,E-Commerce Website,E-commerce,E Commerce Solutions,solutions,Online Payment Integration,Shopping Cart,Gateway Integration" />
{% endblock %}
{% block css %}
    <style>
    .row
    {
        margin-top: 35px !important;
        margin-bottom: 35px !important;

    }
    </style>
{% endblock %}
{% block headerimage %}
<div class="banner banner-template"><div class="container"><div class="title-header"><h1>Our Services</h1><h6 class="header-sub-title">
    Why Choose Digitech Partner ?</h6></div></div><div class="scroll-to mouse"><span></span></div><div class="clip">
    <div class="bg bg-bg" style="background-image:url(/static/img/custom-bg-10.jpg)"></div></div><div class="overlay"></div></div>
{% endblock %}
{% block content %}
    <main class="main-shotcodes start-block">
      <section class="section section-border">
                <div class="container">

                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="special-banner">
                                <img src="/static/img/s-banner-1.jpg" alt="">
                                <div class="s-banner-box">
                                    <div class="s-banner-info">
                                        <span class="icon-tools"></span>
                                        <h3>Web Designing</h3>
                                        <div class="s-banner-text">
                                            Omnis iste natus doxes sit voluptatem accusa
                                            ntium doloremque la dantium
                                        </div>
                                    </div>
                                </div>
                                <div class="s-banner-more">
                                    <div class="s-banner-more-center">
                                        <a href="#"> <i class="fa fa-bars"></i></a>
                                        <p>Omnis iste natus doxes sit voluptatem accusa
                                            ntium doloremque la dantiume aque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta unt explicabo emo enim ipsam</p>
                                        <a class="button button-type-2-md btn-white" href="#">more</a><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="special-banner">
                                <img src="/static/img/s-banner-2.jpg" alt="">
                                <div class="s-banner-box">
                                    <div class="s-banner-info">
                                        <span class="icon-gears"></span>
                                        <h3>Web Development</h3>
                                        <div class="s-banner-text">
                                            Omnis iste natus doxes sit voluptatem accusa
                                            ntium doloremque la dantium
                                        </div>
                                    </div>
                                </div>
                                <div class="s-banner-more">
                                    <div class="s-banner-more-center">
                                        <a href="#"> <i class="fa fa-bars"></i></a>
                                        <p>Omnis iste natus doxes sit voluptatem accusa
                                            ntium doloremque la dantiume aque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta unt explicabo emo enim ipsam</p>
                                        <a class="button button-type-2-md btn-white" href="#">more</a><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="special-banner">
                                <img src="/static/img/s-banner-3.jpg" alt="">
                                <div class="s-banner-box">
                                    <div class="s-banner-info">
                                        <span class="icon-telescope"></span>
                                        <h3>E Commerce</h3>
                                        <div class="s-banner-text">
                                            Omnis iste natus doxes sit voluptatem accusa
                                            ntium doloremque la dantium
                                        </div>
                                    </div>
                                </div>
                                <div class="s-banner-more">
                                    <div class="s-banner-more-center">
                                        <a href="#"> <i class="fa fa-bars"></i></a>
                                        <p>Omnis iste natus doxes sit voluptatem accusa
                                            ntium doloremque la dantiume aque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta unt explicabo emo enim ipsam</p>
                                        <a class="button button-type-2-md btn-white" href="#">more</a><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="special-banner">
                                <img src="/static/img/s-banner-1.jpg" alt="">
                                <div class="s-banner-box">
                                    <div class="s-banner-info">
                                        <span class="icon-tools"></span>
                                        <h3>Software Development</h3>
                                        <div class="s-banner-text">
                                            Omnis iste natus doxes sit voluptatem accusa
                                            ntium doloremque la dantium
                                        </div>
                                    </div>
                                </div>
                                <div class="s-banner-more">
                                    <div class="s-banner-more-center">
                                        <a href="#"> <i class="fa fa-bars"></i></a>
                                        <p>Omnis iste natus doxes sit voluptatem accusa
                                            ntium doloremque la dantiume aque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta unt explicabo emo enim ipsam</p>
                                        <a class="button button-type-2-md btn-white" href="#">more</a><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="special-banner">
                                <img src="/static/img/s-banner-2.jpg" alt="">
                                <div class="s-banner-box">
                                    <div class="s-banner-info">
                                        <span class="icon-gears"></span>
                                        <h3>SEO Services</h3>
                                        <div class="s-banner-text">
                                            Omnis iste natus doxes sit voluptatem accusa
                                            ntium doloremque la dantium
                                        </div>
                                    </div>
                                </div>
                                <div class="s-banner-more">
                                    <div class="s-banner-more-center">
                                        <a href="#"> <i class="fa fa-bars"></i></a>
                                        <p>Omnis iste natus doxes sit voluptatem accusa
                                            ntium doloremque la dantiume aque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta unt explicabo emo enim ipsam</p>
                                        <a class="button button-type-2-md btn-white" href="#">more</a><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="special-banner">
                                <img src="/static/img/s-banner-3.jpg" alt="">
                                <div class="s-banner-box">
                                    <div class="s-banner-info">
                                        <span class="icon-telescope"></span>
                                        <h3>Print Media</h3>
                                        <div class="s-banner-text">
                                            Omnis iste natus doxes sit voluptatem accusa
                                            ntium doloremque la dantium
                                        </div>
                                    </div>
                                </div>
                                <div class="s-banner-more">
                                    <div class="s-banner-more-center">
                                        <a href="#"> <i class="fa fa-bars"></i></a>
                                        <p>Omnis iste natus doxes sit voluptatem accusa
                                            ntium doloremque la dantiume aque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta unt explicabo emo enim ipsam</p>
                                        <a class="button button-type-2-md btn-white" href="#">more</a><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="special-banner">
                                <img src="/static/img/s-banner-3.jpg" alt="">
                                <div class="s-banner-box">
                                    <div class="s-banner-info">
                                        <span class="icon-telescope"></span>
                                        <h3>Support &amp; Maintanance</h3>
                                        <div class="s-banner-text">
                                            Omnis iste natus doxes sit voluptatem accusa
                                            ntium doloremque la dantium
                                        </div>
                                    </div>
                                </div>
                                <div class="s-banner-more">
                                    <div class="s-banner-more-center">
                                        <a href="#"> <i class="fa fa-bars"></i></a>
                                        <p>Omnis iste natus doxes sit voluptatem accusa
                                            ntium doloremque la dantiume aque ipsa quae ab illo veritatis et quasi architecto beatae vitae dicta unt explicabo emo enim ipsam</p>
                                        <a class="button button-type-2-md btn-white" href="#">more</a><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

    </main>
{% endblock %}


